:root
  --fr-1: 1px
  --fr-2: 2px
  --fr-3: 3px
  --fr-4: 4px
  --fr-5: 5px
  --fr-6: 6px
  --fr-7: 7px
  --fr-8: 8px
  --fr-10: 10px
  --fr-12: 12px
  --fr-15: 15px
  --fr-20: 20px
  --fr-25: 25px
  --fr-30: 30px
  --fr-40: 40px
  --fr-50: 50px
  --fr-60: 60px
  --fr-70: 70px
  --fr-80: 80px
  --fr-90: 90px
  --fr-100: 100px
  --fr-125: 125px
  --fr-150: 150px
  --fr-200: 200px
  --fr-250: 250px
  --fr-300: 300px


  // global full-page reset — place in src/styles.sass (global)
html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

/* Angular root element */
app-root
  display: block
  height: 100%
  width: 100%
